<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <style>
    .card-slider {
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
    }
    .card {
      flex: 0 0 auto;
      width:300px;
      margin-right: 2%;
      scroll-snap-align: start;
      background-color: #eef4ed;
    }
    p{
      font-family: 'Playfair Display', serif;
    }
    @media (max-width:480px) {
      .card {
        max-width: 70%;
      }
    }
  </style>
</head>
<body>

<div class="card-slider">

    {% for highligt in highligts %}
    <div class="card">
      <!-- <video autoplay muted loop>
        <source src="{{ highligt.vid.url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video> -->
        <img src="{{ highligt.img.url }}" class="card-img-top" alt="{{ highligt.title }}">
        <div class="card-body">
        <h5 class="card-title">{{ highligt.title }}</h5>
        <p class="card-text">{{ highligt.description }} Participated by over <b>{{ highligt.participant_count }}</b></p>
        </div>
    </div>

    {% endfor %}
    
    <!-- <div class="card">
        <img src="https://via.placeholder.com/300" class="card-img-top" alt="Card 2">
        <div class="card-body">
        <h5 class="card-title">Card 2</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div> -->

    
  
</div>


</body>
</html>
